@font-face {
  font-family: "CeraProRegular";
  src: url('fonts/cerapro_regular.woff2') format('woff2'), url('fonts/cerapro_regular.woff') format('woff');
}

@font-face {
  font-family: "CeraProBold";
  src: url('fonts/cerapro_bold.woff2') format('woff2'), url('fonts/cerapro_bold.woff') format('woff');
}

body {
  font-family: "CeraProRegular";
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "larken";
} */

footer a {
  font-family: "CeraProRegular"
}