footer a {
  font-family: "CeraProRegular";
}

/* svg {
  position: relative;
  z-index: -1;
  display: block;
} */

text {
  font-size: 11px;
  transform-origin: center;
}

@keyframes rotate-btn {
  to {
    transform: rotate(360deg);
  }
}
.go-down-btn text {
  animation: rotate-btn 20s linear infinite;
}
/*
  @keyframes circle {
    from { transform: rotate(0deg) translateX(24px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(24px) rotate(-360deg); }
  }

  #container { margin: 0%; }

  #circle { position: relative;transform: translate(25%, 15%);  width: 100%; padding-bottom: 20%; overflow: hidden; }

  #circle text { font-family: 'CeraProRegular', Arial; font-size: 16px; font-weight: bold; }

  #circle svg { position: absolute; left: 0; top: 0; width: 50%; height: 340px;

    -webkit-animation-name: rotate;
       -moz-animation-name: rotate;
        -ms-animation-name: rotate;
         -o-animation-name: rotate;
            animation-name: rotate;
    -webkit-animation-duration: 15s;
       -moz-animation-duration: 15s;
        -ms-animation-duration: 15s;
         -o-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
       -moz-animation-timing-function: linear;
        -ms-animation-timing-function: linear;
         -o-animation-timing-function: linear;
            animation-timing-function: linear;

  }

  @-webkit-keyframes rotate {
      from { -webkit-transform: rotate(360deg); }
      to { -webkit-transform: rotate(0); }
  }
  @-moz-keyframes rotate {
      from { -moz-transform: rotate(360deg); }
      to { -moz-transform: rotate(0); }
  }
  @-ms-keyframes rotate {
      from { -ms-transform: rotate(360deg); }
      to { -ms-transform: rotate(0); }
  }
  @-o-keyframes rotate {
      from { -o-transform: rotate(360deg); }
      to { -o-transform: rotate(0); }
  }
  @keyframes rotate {
      from { transform: rotate(360deg); }
      to { transform: rotate(0); }
  } */

.btn3 {
  transform: scale(1);
  transition: transform 0.1s ease-in;
}

.btn3:hover {
  transform: scale(1.1);
}

.btn3 span {
  transform: scale(1);
  transition: transform 0.8s ease-in;
}

/* .btn3:hover span {
  transform: scale(1.1, 1.2);
} */

/* .collapsible-data-list-module--container--2Lk2y.collapsible-data-list-module--active--3rlZC::before {
  background-color: red;
}
.collapsible-data-list-module--container--2Lk2y::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: pink;
  border-radius: 2px;
}
.collapsible-data-list-module--container--2Lk2y {
  cursor: pointer;
  position: relative;
  padding-left: var(--sm);
} */

.bar.active::before {
  background-color: red;
  border-radius: 0px;
}
.bar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: pink;
  border-radius: 2px;
}

.bar {
  cursor: pointer;
  position: relative;
  padding-left: var(--sm);
}

/* .disclosure-button {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.disclosure-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 16px;
  background-color: #000;
}

.disclosure-button.active::before {
  background-color: #333;
} */

.animate-spin-custom {
  animation: spin-custom 5s linear infinite;
}

@keyframes spinSphere {
  from {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateZ(360deg) rotateX(-360deg) rotateZ(360deg);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce:hover {
  animation: bounce 0.5s infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-animation {
  display: inline-block;
  animation: wave 2s infinite;
}

@keyframes blur-in {
  from {
    filter: blur(8px);
    transform: scale(0.6);
  }
  to {
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes blur-out {
  from {
    filter: blur(0);
    transform: scale(1);
  }
  to {
    filter: blur(8px);
    transform: scale(0.8);
  }
}

@keyframes bubble-in {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes delayed-bubble-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.animate-bubble-in {
  animation: bubble-in 1s ease-out;
}

.animate-delayed-bubble-in {
  animation: delayed-bubble-in 1s ease-out;
  animation-delay: 0.5s;
}

@keyframes film-reel {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-film-reel {
  animation: film-reel 10s linear infinite;
}

@keyframes slidein {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-delayed {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in .5s ease-in;
}

.animate-fade-in-delayed {
  animation: fade-in-delayed 1s ease-in;
  animation-delay: 0.5s;
}

/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

[property="progressbar"] {
  --pgPercentage: var(--value);
}

.progress-bar {
  --value: 0;
  --size: 12rem;
  --fg: #369;
  --bg: #def;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
              conic-gradient(var(--fg) calc(var(--pgPercentage) * 1% + 90deg), var(--bg) 0 90deg);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
  animation: growProgressBar 3s 1 forwards;
}
/* 
.yourcare, .yourcare::before, .yourcare::after {
  background-image: url('../images/guidancepatient.png');
  background-size: cover;
  background-position: center;
}
.yourcare::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99));
  mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.99));
  -webkit-mask-position: 0% 0, 15.625% 0, 31.25% 0, 46.875% 0, 62.5% 0, 78.125% 0, 93.75% 0, 109.375% 0;
  mask-position: 0% 0, 15.625% 0, 31.25% 0, 46.875% 0, 62.5% 0, 78.125% 0, 93.75% 0, 109.375% 0;
  -webkit-mask-size: 6.25% 100%;
  mask-size: 6.25% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
} */

/* .yourcare-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

    transform: scaleY(-1) ;
  background-image: url('../images/guidancepatient.png');
  background-size: cover;
  background-position: center;

} */

.animate-rise {
  animation-name: rise;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes rise {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
  min-height: 100vh;
  /* animation: changeBackgroundColor 5s infinite alternate; */
}

@keyframes changeBackgroundColor {
  0% {
    background-image: linear-gradient(#f7faff 0%, #f0fff4 50%, #fffee2 100%);
  }
  50% {
    background-image: linear-gradient(#f7faff 0%, #f0fff4 50%, #fffee2 100%);
  }
  100% {
    background-image: linear-gradient(#f7faff 0%, #f0fff4 50%, #fffee2 100%);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(200px);
  } 
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.animation {
  text-align: center;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  color: #333;
}

.animation span {
  display: inline-block;
  animation: slideLeft 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes bgRotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rise {
  0% {
    color: rgba(235, 235, 235, 0); /* Transparent white */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(100, 100, 100);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0),
      0px 0px 1px rgba(25, 0, 255, 0), 0px 2px 4px rgba(48, 255, 252, 0),
      0px 5px 6px rgba(25, 0, 255, 0);
    transform: scale(0.5) rotate(-90deg);
    opacity: 0;
  }
  30% {
    color: rgba(235, 235, 235, 0);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0),
      0px 0px 5px rgba(0, 0, 0, 0), 0px 2px 15px rgba(10, 10, 10, 0),
      0px 5px 25px rgba(20, 20, 20, 0);
  }
  70% {
    color: rgba(235, 235, 235, 0);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0),
      0px 0px 5px rgba(0, 0, 0, 0), 0px 2px 15px rgba(10, 10, 10, 0),
      0px 5px 25px rgba(20, 20, 20, 0);
  }
  100% {
    color: rgba(235, 235, 235, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(100, 100, 100);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0),
      0px 0px 1px rgba(25, 0, 255, 0), 0px 2px 4px rgba(48, 255, 252, 0),
      0px 5px 6px rgba(25, 0, 255, 0);
    opacity: 1;
  }
}


.text-shadow {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6),
    0px 2px 15px rgba(10, 10, 10, 0.5), 0px 5px 25px rgba(20, 20, 20, 0.4);
}

.rise {
  animation: rise 5s linear, textShadow 3s linear alternate infinite 5s;
}



/* .animate-up {

  animation-duration: 1s;
  animation-timing-function: ease-in-out; 
  animation-fill-mode: forwards; 
} */
@keyframes draw-arc {
  from { clip-path: inset(0 50% 50% 0); }
  to { clip-path: inset(0 0 50% 0); }
}

.testimonials-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thumbnails-arc {
  position: relative;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  overflow: hidden;
}

/* The light blue background of the semi-circle */
.thumbnails-arc:before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #60A5FA 25%, transparent 75%);
  z-index: -10;
  border-radius: 50%;
}

.thumbnail-img {
  position: absolute;
  bottom: 0; /* Align thumbnails at the bottom of the semi-circle */
  /* Additional styling for the thumbnails */
  width: 56px; /* Adjust as needed */
  height: 56px; /* Adjust as needed */
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-content {
  margin-top: 20px;
}

.buttons button {
  margin: 5px;
}




@keyframes falling {
  0% {
    transform: translateY(-30px) scaleX(1);
    animation-timing-function: cubic-bezier(0.66, 0.0, 1, 0.72);
  }
  45% {
    transform: translateY(140px) scaleX(1);
  }
  50% {
    transform: translateY(150px) scaleX(1.3);
  }
  70% {
    transform: translateY(80px) scaleX(1);
  }
  80% {
    transform: translateY(140px) scaleX(1);
  }
  85% {
    transform: translateY(150px) scaleX(1.2);
  }
  93% {
    transform: translateY(120px) scaleX(1);
  }
  97% {
    transform: translateY(140px) scaleX(1);
  }
  100% {
    transform: translateY(150px) scaleX(1);
  }
}

.ball {
  background: #ffffff;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto;
  width: 150px;
  animation: mojianime 1.5s ease-in-out infinite;
}

@keyframes mojianime {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.slideover{
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
